// Card
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.card {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  .card-body {
    padding: $global-gutter;
  }
  .card-header {
    padding: $global-gutter;
    border-bottom: 1px solid #dbdbdb;
  }
  .card-footer {
    padding: $global-gutter;
    border-top: 1px solid #dbdbdb;
  }
}
