// Grid
// ––––––––––––––––––––––––––––––––––––––––––––––––––
$grid-gutter-width: $global-gutter;
$grid-gutter-horizontal: $global-gutter;

$grid-gutter: (
  small   : $global-small-gutter,
  medium  : $global-medium-gutter,
  large   : $global-large-gutter,
  collapse: 0
) !default;

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-right: ($grid-gutter-width / -2);
  margin-left: ($grid-gutter-width / -2);
}

.grid {
  margin-left: (-$grid-gutter-horizontal);
}

.grid>* {
  padding-left: $grid-gutter-horizontal;
}

@each $size, $length in $grid-gutter {
  .grid-#{$size} {
    margin-left: (-$length);
  }
  .grid-#{$size} > * {
    padding-left: $length;
  }
}

// divider

// .grid-divider > * {
//   position: relative;
// }

