// Grid
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$grid-gutter-width: $global-gutter;

.grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-left: ($grid-gutter-width / -2)
}

.grid > * {
  padding-left: ($grid-gutter-width / 2);
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

// no-gutters
.no-gutters {
  margin-left: 0;

  > * {
    padding-left: 0;
  }
}
