// Variables
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$global-gutter       : 30px !default;
$global-small-gutter : 15px !default;
$global-medium-gutter: 40px !default;
$global-large-gutter : 70px !default;

$zindex-fixed : 1030 !default;
$zindex-sticky: 1020 !default;

$font-weight-normal: normal !default;
$font-weight-bold: bold !default;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;
