// Width
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$columns:$grid-columns;

// width
@for $i from 1 through $columns {
  .width-#{$i} {
    flex: 0 0 percentage($i / $columns);
    width: percentage($i / $columns);
    max-width: percentage($i / $columns);
  }
}

.width-expand {
  flex: 1;
  min-width: 0;
  flex-basis: 1px;
}

.width-auto {
  width: auto;
}

// Child width
@for $i from 1 through $columns {
  .child-width-1-#{$i}>* {
    flex: 0 0 percentage(1 / $i);
    max-width: percentage(1 / $i);
  }
}

// Offset
@for $i from 1 through $columns - 1 {
  .offset-#{$i} {
    margin-left: percentage($i / $columns);
  }
}

// Media query
@media screen and (min-width: 568px) {
  @for $i from 1 through $columns {
    .width-sm-#{$i} {
      flex: 0 0 percentage($i / $columns);
      width: percentage($i / $columns);
      max-width: percentage($i / $columns);
    }
  }

  @for $i from 1 through $columns - 1 {
    .offset-sm-#{$i} {
      margin-left: percentage($i / $columns);
    }
  }
}

@media screen and (min-width: 768px) {
  @for $i from 1 through $columns {
    .width-md-#{$i} {
      flex: 0 0 percentage($i / $columns);
      width: percentage($i / $columns);
      max-width: percentage($i / $columns);
    }
  }

  @for $i from 1 through $columns - 1 {
    .offset-md-#{$i} {
      margin-left: percentage($i / $columns);
    }
  }
}

@media screen and (min-width: 1024px) {
  @for $i from 1 through $columns {
    .width-lg-#{$i} {
      flex: 0 0 percentage($i / $columns);
      width: percentage($i / $columns);
      max-width: percentage($i / $columns);
    }
  }

  @for $i from 1 through $columns - 1 {
    .offset-lg-#{$i} {
      margin-left: percentage($i / $columns);
    }
  }
}

@media screen and (min-width: 1280px) {
  @for $i from 1 through $columns {
    .width-xl-#{$i} {
      flex: 0 0 percentage(1 / $i);
      max-width: percentage(1 / $i);
    }
  }

  @for $i from 1 through $columns - 1 {
    .offset-xl-#{$i} {
      margin-left: percentage($i / $columns);
    }
  }
}
